# This gitignore has been specially created by the WPILib team.
# If you remove items from this file, intellisense might break.

### C++ ###
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

### Java ###
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

### Linux ###
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### Windows ###
# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

### Gradle ###
.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

# # VS Code Specific Java Settings
# DO NOT REMOVE .classpath and .project
.classpath
.project
.settings/
bin/

# IntelliJ
*.iml
*.ipr
*.iws
.idea/
out/

# Fleet
.fleet

# Simulation GUI and other tools window save file
simgui*.json

# Version file
src/main/java/frc/robot/BuildConstants.java

# sim files
ctre_sim
logs
/.idea
/build/jni/release/apriltag.dll
/build/jni/release/apriltag.pdb
/build/jni/release/apriltagjni.dll
/build/jni/release/apriltagjni.pdb
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/8.4/checksums/checksums.lock
/build/classes/java/main/frc/robot/Constants.class
/build/jni/release/cscore.dll
/build/jni/release/cscore.pdb
/build/jni/release/cscorejni.dll
/build/jni/release/cscorejni.pdb
/.gradle/8.4/dependencies-accessors/dependencies-accessors.lock
/build/classes/java/main/frc/robot/commands/DriveCommand.class
/build/classes/java/main/frc/robot/commands/DriveForTimeCommand.class
/.gradle/8.4/executionHistory/executionHistory.bin
/.gradle/8.4/executionHistory/executionHistory.lock
/build/tmp/.cache/expanded/expanded.lock
/.gradle/file-system.probe
/.gradle/8.4/fileHashes/fileHashes.bin
/.gradle/8.4/fileHashes/fileHashes.lock
/.gradle/8.4/dependencies-accessors/gc.properties
/.gradle/8.4/gc.properties
/.gradle/vcs-1/gc.properties
/build/jni/release/halsim_ds_socket.dll
/build/jni/release/halsim_ds_socket.pdb
/build/jni/release/halsim_gui.dll
/build/jni/release/halsim_gui.pdb
/build/jni/release/halsim_xrp.dll
/build/jni/release/halsim_xrp.pdb
/.gradle/8.4/fileChanges/last-build.bin
/build/classes/java/main/frc/robot/Main.class
/build/tmp/jar/MANIFEST.MF
/.gradle/8.4/checksums/md5-checksums.bin
/build/classes/java/main/frc/robot/commands/shapes/NSidedShapeCommand.class
/build/jni/release/ntcore.dll
/build/jni/release/ntcore.pdb
/build/jni/release/ntcorejni.dll
/build/jni/release/ntcorejni.pdb
/build/jni/release/opencv_aruco480.dll
/build/jni/release/opencv_aruco480.pdb
/build/jni/release/opencv_calib3d480.dll
/build/jni/release/opencv_calib3d480.pdb
/build/jni/release/opencv_core480.dll
/build/jni/release/opencv_core480.pdb
/build/jni/release/opencv_dnn480.dll
/build/jni/release/opencv_dnn480.pdb
/build/jni/release/opencv_features2d480.dll
/build/jni/release/opencv_features2d480.pdb
/build/jni/release/opencv_flann480.dll
/build/jni/release/opencv_flann480.pdb
/build/jni/release/opencv_gapi480.dll
/build/jni/release/opencv_gapi480.pdb
/build/jni/release/opencv_highgui480.dll
/build/jni/release/opencv_highgui480.pdb
/build/jni/release/opencv_imgcodecs480.dll
/build/jni/release/opencv_imgcodecs480.pdb
/build/jni/release/opencv_imgproc480.dll
/build/jni/release/opencv_imgproc480.pdb
/build/jni/release/opencv_java480.dll
/build/jni/release/opencv_ml480.dll
/build/jni/release/opencv_ml480.pdb
/build/jni/release/opencv_objdetect480.dll
/build/jni/release/opencv_objdetect480.pdb
/build/jni/release/opencv_photo480.dll
/build/jni/release/opencv_photo480.pdb
/build/jni/release/opencv_stitching480.dll
/build/jni/release/opencv_stitching480.pdb
/build/jni/release/opencv_video480.dll
/build/jni/release/opencv_video480.pdb
/build/jni/release/opencv_videoio480.dll
/build/jni/release/opencv_videoio480.pdb
/.gradle/buildOutputCleanup/outputFiles.bin
/build/tmp/compileJava/previous-compilation-data.bin
/.gradle/8.4/fileHashes/resourceHashesCache.bin
/build/classes/java/main/frc/robot/Robot.class
/build/classes/java/main/frc/robot/RobotContainer.class
/.gradle/8.4/checksums/sha1-checksums.bin
/build/classes/java/main/frc/robot/commands/shapes/TriangleCommand.class
/build/jni/release/wpiHal.dll
/build/jni/release/wpiHal.pdb
/build/jni/release/wpiHaljni.dll
/build/jni/release/wpiHaljni.pdb
/build/jni/release/wpimath.dll
/build/jni/release/wpimath.pdb
/build/jni/release/wpimathjni.dll
/build/jni/release/wpimathjni.pdb
/build/jni/release/wpinet.dll
/build/jni/release/wpinet.pdb
/build/jni/release/wpinetjni.dll
/build/jni/release/wpinetjni.pdb
/build/jni/release/wpiutil.dll
/build/jni/release/wpiutil.pdb
/build/jni/release/wpiutiljni.dll
/build/jni/release/wpiutiljni.pdb
/build/libs/XRP-Training.jar
/build/classes/java/main/frc/robot/subsystems/XRPDrivetrain.class
